@charset "utf-8";
/* CSS Document */

/*

Blue: #4484ce;
lighter blue: #48a9ca;
Gray: #d9d9d9;
Yellow: #f9cf00;
Orange: #f19f4d;

*/


#warning-message { display: none; }
        @media only screen and (orientation:portrait){
            .wrapper { display:none; }
            .footer { display:none; }
            #warning-message { display:block; font-size:3rem; color:red; width:80%; }
        }
        @media only screen and (orientation:landscape){
            #warning-message { display:none; }

* {
	margin: 0; /*This is part of the wrapper tool that makes the footer sticky.*/
    padding: 0em;      /*This is part of the wrapper tool that makes the footer sticky.*/

/*    border: 1px solid black;*/

}
html, body{
	height: 100%;  /*This is part of the wrapper tool that makes the footer sticky.*/
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: 13px;
}
html body{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {  /*This is the wrapper tool that makes the footer sticky.*/
	min-height: 100%;
    height: auto !important; /*This is for IE6*/
    height: 100%;   /*This is for IE6*/
	margin: 0 auto -1.5em;  /*the bottom margin is the negative value of the footer's height */
}
.title{
    text-align: center;
    background-color: #4484ce;
    color:white;
}
.titlebreak{
    background-color: #4484ce;
}
.subtitle{
    text-align: center;
    background-color: #4484ce;
    color:white;
}
.keyColor {
    padding: 8px 0px 8px 15px;
}
.keyColor div{
    border: 1px solid black;
    width: 100%;
    height: 25px;
}
.keyImg {
    padding: 30px 0px 5px 25px;
}
.keyImg img{
    width: 20pt;
}
h2 {
    font-size: 1.1rem;
}
h4 {
    font-size: .9rem;
}

/*    Table     */

table {
    table-layout: fixed;
}
th {
    background-color: #48a9ca;
    text-align: center;
    font-size: .6rem;
}
.firstColumn{
    background-color: #d9d9d9;
/*    width: 50%;*/
    font-size: .6rem;
}
.dayColumn{
/*    width: 15%;*/
    color:black;
}
.available{
    background-color:white;
/*    color:white;*/
}
.semiAvailable{
    background-color: #f9cf00;
/*    color: #f9cf00;*/
}
.unavailable{
    background-color: #f19f4d;
/*    color: #f19f4d;*/
}


/*    General     */
.VerticalSpace{
    padding-top: 2em;   /*This is for creating space between rows if wanted.*/
}

/*    Footer that works with wrap     */
.push {
	height: 4em;     /*Creates space between bottom of page to the bottom of content before the footer*/
}
.halfpush {
	height: 2em;     /*Creates a little vertical space between divs*/
}
.footer{
    margin-top: -1.1em;   /*Brings the footer up so there is no scrolling if not needed.*/
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    font-size:1rem;
    font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
    font-variant: small-caps;
}


/*   Different Screen Sizes for font size change   */

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}